    /* for animate_card */
    
    .animate_card {
        width: 75%;
        margin: auto;
        text-align: center;
        padding-top: 80px;
    }
    
    h1 {
        font-size: 36px;
        font-weight: 600;
    }
    
    p {
        color: gray;
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
        padding: 10px;
    }
    
    .row {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    }
    
    .animate_card-col {
        flex-basis: 40%;
        //centrer les éléments
        background: #fff3f3;
        border-radius: 10px;
        margin-bottom: 2%;
        padding: 20px 12px;
        box-sizing: border-box;
        transition: 0.5s;
        width: 50%;
        height: 50%;
    }
    
    h3 {
        text-align: center;
        font-weight: 600;
        margin: 10px 0;
    }
    
    .animate_card-col:hover {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    }
    
    .animate_card img {
        width: 50%;
        object-fit: cover;
        //décaler l'image à gauche
        margin-left: -350px;
        margin-top: -100px;
    }
    
    .animate_card h3 {
        //décaler le titre en haut
        margin-top: -60px;
        margin-left: 100px;
    }
    
    //récupère la div avec l'id first-section
    #first-section {
        background: #fff3f3;
        padding: 50px 0;
    }
    
    #second-section-img img {
        //décaler l'image en haut
        margin-top: -150px;
    }
    
    @media(max-width: 700px) {
        .row {
            flex-direction: column;
            margin-top: 0;
        }
        .animate_card-col {
            margin-bottom: 50%;
            flex-basis: 40%;
            //étirer la animate_card-col vers la droite
            // margin-left: 20%;
            //retirer l'attribut width
            width: unset;
        }
        .animate_card img {
            width: 50%;
            object-fit: cover;
            //décaler l'image à gauche
            margin-left: -115px;
            margin-top: -50px;
        }
        .animate_card h3 {
            //décaler le titre en haut
            margin-top: -30px;
            margin-left: 50px;
        }
    }
    
    //animation
    .animate_card .row .animate_card-col {
        opacity: 0;
        transform: translateX(-100%);
        transition: all 1s ease-in-out;
    }
    
    .animate_card.visible .row .animate_card-col:first-child {
        opacity: 1;
        transform: translateX(0);
    }
    
    .animate_card.visible .row .animate_card-col:last-child {
        opacity: 1;
        transform: translateX(0);
    }