button {
    display: inline-block;
    text-decoration: none;
    //background-color: $primary-color;
    border-radius: 15px;
    //color: $text-color;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    &:hover {
        background-color: darken($primary-color, 10%);
    }
    &:active {
        background-color: lighten($primary-color, 10%);
    }
}

.button-secondary {
    background-color: $secondary-color;
    &:hover {
        background-color: darken($secondary-color, 10%);
    }
    &:active {
        background-color: lighten($secondary-color, 10%);
    }
}

.button-warning {
    background-color: $warning-color;
    &:hover {
        background-color: darken($warning-color, 10%);
    }
    &:active {
        background-color: lighten($warning-color, 10%);
    }
}

.button-info {
    background-color: $info-color;
    &:hover {
        background-color: darken($info-color, 10%);
    }
    &:active {
        background-color: lighten($info-color, 10%);
    }
}

.button-success {
    background-color: $success-color;
    &:hover {
        background-color: darken($success-color, 10%);
    }
    &:active {
        background-color: lighten($success-color, 10%);
    }
}