.code {
    //rajouter un border radius
    border-radius: 15px;
    //rajouater un background
    background: white;
    overflow-y: scroll;
    height: calc(30vh - 30px);
    background-color: bisque;
}