        .content {
            margin-left: 450px;
            margin-top: 26px;
            /* la même largeur que la barre latérale */
            //padding: 20px;
         //   overflow-y: scroll;
            /* permet de faire défiler le contenu si nécessaire */
            height: calc(100vh - 80px);
            /* calcul la hauteur restante de la page pour que le contenu prenne tout l'espace disponible */
        }
        
        .content section h1 {
            color: white;
            text-align: center;
        }
        
        
        .content section p {
            color: white;
            width: 50%;
            margin-left: 25%;
        }

        //create a class for the h1 in content 
        .content h1 {
            margin-top: 60px;
            font-weight: 700;
            font-size: 32px;
            line-height: 24px;
          
        }

        .content p{
            margin-top: 36px;
            line-height: 24px;
            font-size: 14px;
            font-weight: 500;
        }
        
        @media(max-width: 700px) {
            .content {
                margin-left: 150px;
                overflow-y: scroll;
                /* permet de faire défiler le contenu si nécessaire */
                height: calc(100vh - 80px);
            }
            .content section h1 {
                margin-left: -20%;
            }
            .content section p {
                width: 90%;
                margin-left: -2%;
            }
        }