    .design_gui {
        //diminue la taille 
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-right: 2px solid #673a2f;
    }
    
    a {
        color: black;
        text-align: center;
        display: block;
    }
    
    h1 {
        text-align: center;
    }