    .design_gui {
        //diminue la taille 
        width: 30%;
        //occupe toute la hauteur
        height: 100%;
        //margin-left: 20%;
    }
    
    a {
        color: black;
        text-align: center;
        display: block;
    }
    
    h1 {
        text-align: center;
    }