        //remove  underline from links
        a {
            color: #fff;
            text-decoration: none;
        }
        
        .link {
            color: $secondary-color;
            &:hover {
                color: darken($secondary-color, 10%);
            }
            &:active {
                color: lighten($secondary-color, 10%);
            }
        }