/* for section1 */

.section1 {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: gray;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.section1-col {
    flex-basis: 40%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.section1-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.section1 img {
    width: 50%;
    object-fit: cover;
    //décaler l'image à gauche
    margin-left: -230px;
    margin-top: -100px;
}

.section1 h3 {
    //décaler le titre en haut
    margin-top: -60px;
    margin-left: 100px;
}

@media(max-width:700px) {
    .row {
        flex-direction: column;
        margin-top: 0;
    }
    .section1-col {
        margin-bottom: 26%;
    }
    .section1 img {
        width: 50%;
        object-fit: cover;
        //décaler l'image à gauche
        margin-left: -115px;
        margin-top: -50px;
    }
    .section1 h3 {
        //décaler le titre en haut
        margin-top: -30px;
        margin-left: 50px;
    }
}