.side_bar {
    display: block;
    background-color: #264F36;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -100px;
    //width: 100px;
    height: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 100px;
    overflow-x: hidden;
    padding-top: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.side_bar a {
    padding: 8px 25px 8px 15px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-bottom: 10px;
}

.side_bar img {
    display: block;
}