.sideBar-product {
    background: url(../images/products/BigLogo.png) no-repeat bottom;
    background-color: #63885C;
    //translate the bg image y
    // background-position: 0px 206px;
    width: 350px;
    height: 879px;
    z-index: 0;
    margin-left: 43.17px;
    margin-top: 31px;
    border-radius: 20px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sideBar-product a {
    // margin-bottom: 36px;
    height: 68px;
    width: 277.67px;
    font-size: 22.67px;
    //center vertically
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2px;

}

/*.sideBar-product a:hover{
    //translate x 10px 
    transform: translateX(10px);
    transition: 0.5s;
    //display image to the right of the text
    background: url(../images/products/arrow.png) no-repeat;
    background-position: 100% 40%;
    background-size: 28.33px 28.33px;   
    padding-right: 20px;
    
}*/

/*#sideBar-logo{
    position: absolute;
    top: 39.889%;
    bottom: 23.77%;
    //translate x 48px
    left: 48px;
    z-index: 0;  
}*/

.buttons-aside {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
}


.bg-logo {
    // background: url(../../images/products/BigLogo.png) no-repeat center center fixed;
    //  background-color: #DB0007;
    //  background-size: cover;
    //   width: 350px;
    //  height: 750px;
}
.side_bar {
    display: block;
    //background-color: transparent;
    background-color: #264F36;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: -100px;
    //width: 100px;
    height: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 100px;
    overflow-x: hidden;
    padding-top: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.side_bar a {
    padding: 8px 25px 8px 15px;
    text-decoration: none;
    font-size: 8px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-bottom: 15px;
}

@media screen and (min-width: 700px) {
    .side_bar a {
        margin-bottom: 20px;
    }
}

//quand supérieur à 700px .side_bar a le margin-bottom passe à 20px
.side_bar img {
    display: block;
}

.side_bar span {
    display: none;
    //transition: opacity 3s ease-in-out;
}

.side_bar a:hover+span,
.side_bar a:hover>span {
    float: right;
    display: block;
    font-size: 10px;
    margin-top: -20px;
    margin-right: 10px;
    margin-left: 35px;
    //remove le background-color dans  
}