.slider {
    width: 600px;
    overflow: hidden;
    margin: 10px auto;
}

.slides {
    width: calc(500px * 3);
    animation: glisse 10s infinite;
}

.slide {
    float: left;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-600px);
    }
    100% {
        transform: translateX(0);
    }
}

@media(max-width:700px) {
    .slider {
        //divise la taille de l'image par 2
        width: 300px;
        overflow: hidden;
        margin: 10px auto;
    }
}