body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

ul,
ol {
    margin-bottom: 20px;
    padding-left: 20px;
}

//pour bien use nos col 
.row {
    clear: both;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}