/* Error: expected "{".
 *    ,
 * 26 |     - margin-bottom: 10px;
 *    |                          ^
 *    '
 *   components/_side_bar.scss 26:26  @import
 *   main.scss 27:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 26 \2502      - margin-bottom: 10px;\a    \2502                           ^\a    \2575 \a   components/_side_bar.scss 26:26  @import\a   main.scss 27:9                   root stylesheet';
}
