.footer {
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
    height: 350px;
    background-color: #A6A6A6;
    color: #000000;
    padding-left: 145px;
    padding-right: 145px;
    padding-top: 71px;
    box-sizing: border-box;
    overflow: hidden;

}

.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-menu li {
    margin-right: 20px;
}

.footer-menu a {
    color: #333;
    text-decoration: none;
}


.footer-contact {
    display: flex;
    padding-left: 25px;
    font-size: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.contact-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    gap: 35px;

}

.black-line {
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 37px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}


.footer-app {
    display: flex;
    padding-left: 25px;
    padding-top: 35px;
    font-size: 24px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    padding-left: 35px;
    font-size: 24px;
    transform: matrix(1, 0, 0, 1, 0, -10);


}

#subText {
    font-size: 14px;
}

.footer-section{
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1;
    margin-top: 350px;
    
}


@media only screen and (max-width: 800px) {
    .footer-contact {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-right: 15px;
      padding-top: 25px;
    }
    
    .footer-app {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      padding-right: 20px;
    }

    #footer-logo{
        //translate y -15px 
        transform: matrix(1, 0, 0, 1, 0, -15);
    }

    .black-line{
        //translate y -15px 
        transform: matrix(1, 0, 0, -1, 0, -15);
    }
    .contact-buttons{
        gap: 5px;
        transform: matrix(1, 0, 0, 1, 0, -15);
    }

    .footer-text span {
        font-size: 18px;
      }

    .footer-text {
        padding-left: 0;
        padding-top: 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
    
    }


      //reduce padding on footer
        .footer {
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 20px;
        }
  }
  

  @media only screen and (max-width: 900px) {
    //reduce all text in footer 
    .footer-text span {
      font-size: 18px;
    }



  }

  