.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-menu li {
    margin-right: 20px;
}

.footer-menu a {
    color: #333;
    text-decoration: none;
}