.navbar {
    background-color: #fff;
    height: 60px;
    ///width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.navbar a {
    color: #000;
    //faut que les liens soient un peu plus gros
    font-size: 1.4em;
    padding: 0 10px;
}

.navbar-brand {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}